/**--------------PAGE--------------- seccion carta*/

.cartaresto {
    height: 450px;
    background-image: url(../img/carta.jpg);
    background-size: cover;
    background-attachment: fixed;
    line-height: 500px;
    text-align: center;
    color: #ffffff;
}

.carta-menu {
    article{
        div{
            h3 {
        margin-top: 15px;
        margin-bottom: 6px;
            }
        }
    }
}
.cartaresto {
    h1 {
    font-style: normal;
    padding-top: 40px;
    color: #000000;
    font-size: 45px;
    text-shadow: 2px 2px 2px #ffffff;
}
}
/**Carta-MENU**/
.grid-container {
    h2 {
    text-decoration: underline;
    text-align: center;
    margin: 5px;
    padding: 5px;
    }
}

/* grid menu*/
.menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(650px, 500px));
    grid-gap: 1rem;
}

.menu-part {
    display: grid;
    grid-template-columns: 150px minmax(200px 280px) 60px;
    /* grid-row-gap: 10px;*/
    grid-column-gap: 0px;
    grid-template-areas:
        "img menu-item price";
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    margin: 5px;
    padding: 5px;
    img {
    grid-area: auto;
    width: 200px;
    height: 180px;
    margin: 5px;
    padding: 5px;
    }
    p{
    padding: 10px 1px;
    margin: 10px;
    }
}

.menu-item {
    grid-area: menu-item;
    font-weight: bold;
    
}

.price::before {
    content: "$";
    font-weight: bold;
}

.price {
    grid-area: price;
    font-weight: bold;
}


