/**--------------PAGE--------------- seccion carta*/

.cartaresto {
    height: 500px;
    background-image: url(../img/carta.jpg);
    background-size: cover;
    background-attachment: fixed;
    line-height: 500px;
    text-align: center;
    color: #ffffff;
}

.carta-menu {
    margin-left: 10px;

    article div h3 {
        margin-top: 15px;
        margin-bottom: 6px;
        font-size: 30px;
    }
}

.cartaresto h1 {
    color: #000000;
    text-shadow: 0px 0px 5px #ffffff;
    font-size: 60px;
}

/**Carta-MENU**/
.grid-container h2 {
    word-spacing: 3px;
    text-decoration: underline;
    text-align: justify;
}

/* grid menu*/
.menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 500px));
    grid-gap: 2rem;
}

.menu-part {
    display: grid;
    grid-template-columns: 150px minmax(200px 280px) 60px;
    /* grid-row-gap: 10px;*/
    grid-column-gap: 15px;
    grid-template-areas:
        "img menu-item price"
        "img description .";
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: top;
}

img {
    grid-area: auto;
    width: 100px;
    min-width: 100px;
    height: auto;
}

.menu-item {
    grid-area: menu-item;
    font-weight: bold;
}

.price::before {
    content: "$";
    font-weight: bold;
}

.price {
    grid-area: price;
    font-weight: bold;
}

.description {
    grid-area: description;
    margin: 0;
}
