/* !seccion footer*/

footer {
    display: flex;
    background-color: $color-footer;

    .redes {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        a {
            i{
                margin-right: 10px;
                flex-direction: row;
                justify-content: space-evenly;
            }
        }
    }
    .container-footer {
        max-width: 400px;
        padding: 2px 5px 5px 5px;
        color: black;
    }
    .footer-article {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
    }
    .footer-info {
        margin: 0 20px;
        padding: 0 5px;
        h3 {
            font-size: 18px;
            text-align: justify;
        }
        p {
            font-size: 15px;
        }
        a{
            color: #c84646;
        }
        .redes {
            a {
                i {
                    color: #000000;
                    font-size: 25px;
                    &:hover {
                        color: #c84646;
                    }
                }
            }
        }
    }
    .footer-info-title {
        margin-top: 0;
    }

.footer-info {
    &:first-child {
        padding-left: 0;
        max-width: 475px;
    }

    &:nth-child(2) {
        max-width: 314px;
    }

    &:nth-child(3) {
        padding-right: 0;
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
    }
}

.footer {
    .container-footer{ 
        .copyright {
        padding-top: 0;
        margin-top: 0;
        }
    }


    a {
        display: flex;
    }

        &:hover {
            color: #c84646;
            -webkit-transition: color .3s;
            -o-transition: color .3s;
            transition: color .3s;
        }
    }
}
