body {
    main {
        section {
            h3, h5, h6 {
                padding: 10px 20px;
            }
            p{
            padding: 10px 30px;
            }
        }
        .hero {
            text-align: center;
            height: 350px;
            background-image: url(../img/piezas.jpg);
            background-size: cover;
            background-attachment: fixed;
            background-repeat: no-repeat;
            line-height: 550px;

            h1 {
                font-style: normal;
                padding-top: 35px;
                color: #000000;
                font-size: 65px;
                text-shadow: 2px 2px 2px #ffffff;
}
        }
        .pageprincipal{
            width: auto;
            height: auto;
            margin: 20px;
            padding: 20px;  
            h2{
                text-align: center;
                }
            .pageprincipal2 {
                display: flex;
                flex-wrap: wrap;
                margin: 10px;
                padding: 10px;
                justify-content: center;
                img {
                margin-left: 10px;
                width: 100%;
                height: auto;
            }

            p {
                display: flex;
                text-align: justify;
                width: 55%;
                margin: 20px;
            }
        }

        .pageprincipal3 {
            display: flex;
                flex-wrap: wrap;
                margin: 10px;
                padding: 10px;
                justify-content: center;
            img{
                margin-left: 10px;
                width: 100%;
                height: auto;
            }
            p {
                display: flex;
                text-align: justify;
                width: 55%;
                margin: 20px;
            }
        }

        .pageprincipal-escalera {
                display: flex;
                flex-wrap: wrap;
                margin: 10px;
                padding: 10px;
                justify-content: center;

            img {
                margin-left: 10px;
                width: 100%;
                height: auto;
            }

            p {
                display: flex;
                text-align: justify;
                width: 55%;
                margin: 20px;
            }
        }
    }

        /* ! seccion carousel- boostrap */
        .galeria {
            h2 {
                margin: 2px;
                text-align: center;
            }
            div {
                div {
                    img {
                        height: auto;
                    }
                }
            }
        }
    }
}    
        .productosdestacados {
            display: flex;
        }

        .productosdestacados{
            article {
            width: auto;
            height: auto;
        }
        }
/*se aplico mixins*/
        .productosdestacados {
            .card-container {
                @include flex (flex,space-around,center);
                gap: 15px;
                margin: 20px;
                padding: 15px;
                }
        }
            div {
                img {
                width: 180px;
                height: 250px;
                margin: 10px;
            }
        }
        h4 {
            font-size: 15px;
            text-indent: 10px;
            text-align: justify;
        }

        h3 {
            text-align: center;
            text-indent: 20px;
            text-decoration: none;
            font-size: 35px;
            padding: 10px;
            gap: 30px;
            color: black;
        }

        .card-container {
            .tarjeta {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                position: static;
                box-shadow: 6px 10px 21px -3px #333;
                -webkit-box-shadow: 6px 10px 21px -3px #000000eb;
                -moz-box-shadow: 6px 10px 21px -3px rgba(0, 0, 0, 0.92);
                justify-items: center;
                .btn {
                    text-decoration: none;
                    padding: 0.3em 1em;
                    margin-bottom: 0.3em;
                    cursor: pointer;
                    border-radius: 3px;
                    overflow: hidden;
                    color: rgba(0, 0, 0, 0);
                    text-shadow: 0 0 0 $btn-color, 0 3rem 0 $btn-hover-color;
                    transition: background-color 150ms, text-shadow 200ms;
                    font-size: 1.1rem;
                    &:hover {
                        background-color: $btn-hover-bg;
                        text-shadow: 0 -3rem 0 $btn-color, 0 0 0 $btn-hover-color;
                    }
                }
            }
        }
/* !seccion maps*/

        .mapas {
            display: flex;
            flex-direction: column;
            margin: 10px;
            padding: 10px;

            h3 {
                display: flex;
                color: black;
                padding: 2%;
                text-align: justify;
            }
        }
