/** ------------PAGE-------------------seccion Servicios**/

.fotocatering {
    width: 1302px;
    height: 555px;
}

.heroservicios {
    text-align: center;
    height: 350px;
    background-image: url(../img/catering-tabla.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    line-height: 550px;

    h1 {
        font-style: normal;
        padding-top: 35px;
        color: #000000;
        font-size: 35px;
        text-shadow: 2px 2px 2px #ffffff;
    }
}

.text-servicios {
    display: flex;

    h5 {
        text-indent: 15px;
        margin: 10px;
    }
}

.text-servicios2 {

    h5 {
        margin: 10px;
        padding: 15px;
        text-indent: 5px;
    }
}

body main section h4{
    font-size: 15px;
    text-indent: 20px;
    text-align: justify;
}